{{template "base" .}}

{{define "title"}}{{.Title}}{{end}}
{{define "body"}}
    <form action='/snippet/create' method='POST'>
        {{.CSRFField}}

        {{$title := ""}}
        {{$content := ""}}
        {{$expire := ""}}
        {{$selected_private := ""}}
        {{with .FormSnippet}}
            {{$title = .Title}}
            {{$content = .Content}}
            {{$expire = .Expire}}

            {{if (eq .Type "Private")}}
                {{$selected_private = "selected"}}
            {{end}}
        {{end}}

        <div>
            <label>Title:</label>
            {{if getError .Errors "Title"}}
                <label class='error'>{{getError .Errors "Title"}}</label>
            {{end}}
            <input type='text' name='title' value='{{$title}}'>
        </div>
        <div>
            <label>Content:</label>
            {{if getError .Errors "Content"}}
                <label class='error'>{{getError .Errors "Content"}}</label>
            {{end}}
            <textarea name='content'>{{$content}}</textarea>
        </div>
        {{if not .IsEdit}}
        <div>
            {{if getError .Errors "Expire"}}
                <label class='error'>{{getError .Errors "Expire"}}</label>
            {{end}}
            <label>Input expire days:</label>
            <input type="number" name="expire" min="1" value="{{$expire}}">
        </div>
        {{end}}
        <div>
            {{if getError .Errors "Type"}}
                <label class='error'>{{getError .Errors "Type"}}</label>
            {{end}}
            <label>Choose snippet type:</label>
            <select name="type">
                <option>Public</option>
                <option {{$selected_private}}>Private</option>
            </select>
        </div>
        <div>
            <input type='submit' value='{{.Title}}'>
        </div>
    </form>
{{end}}