{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "body"}}
<form action='/user/login' method='POST' novalidate>
    <!-- Include the CSRF token -->
    {{.CSRFField}}
    {{if getError .Errors "Generic"}}
        <label class='error'>{{getError .Errors "Generic"}}</label>
    {{end}}
    <div>
        <label>Email:</label>
        {{if getError .Errors "Email"}}
            <label class='error'>{{getError .Errors "Email"}}</label>
        {{end}}
        {{$email := ""}}
        {{with .FormUser}}
            {{$email = .Email}}
        {{end}}
        <input type='email' name='email' value='{{$email}}'>
    </div>
    <div>
        <label>Password:</label>
        {{if getError .Errors "Password"}}
            <label class='error'>{{getError .Errors "Password"}}</label>
        {{end}}
        <input type='password' name='password'>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
</form>
{{end}}