{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "body"}}
<form action='/user/signup' method='POST'>
    <div>
        <label>Firstname:</label>
        <input type='text' name='firstname' value=''>
    </div>
    <div>
        <label>Lastname:</label>
        <input type='text' name='lastname' value=''>
    </div>
    <div>
        <label>Email:</label>
        <input type='email' name='email' value=''>
    </div>
    <div>
        <label>Password:</label>
        <input type='password' name=''>
    </div>
    <div>
        <input type='submit' value='Signup'>
    </div>
</form>
{{end}}