{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "body"}}
<form action='/user/signup' method='POST'>
    <div>
        {{$first_name := ""}}
        {{$last_name := ""}}
        {{$email := ""}}
        {{with .FormUser}}
            {{$first_name = .Firstname}}
            {{$last_name = .Lastname}}
            {{$email = .Email}}
        {{end}}


        <label>Firstname:</label>
        {{if getError .Errors "Firstname"}}
            <label class='error'>{{getError .Errors "Firstname"}}</label>
        {{end}}
        <input type='text' name='firstname' value='{{$first_name}}'>
    </div>
    <div>
        <label>Lastname:</label>
        {{if getError .Errors "Lastname"}}
            <label class='error'>{{getError .Errors "Lastname"}}</label>
        {{end}}
        <input type='text' name='lastname' value='{{$last_name}}'>
    </div>
    <div>
        <label>Email:</label>
        {{if getError .Errors "Email"}}
            <label class='error'>{{getError .Errors "Email"}}</label>
        {{end}}
        <input type='email' name='email' value='{{$email}}'>
    </div>
    <div>
        <label>Password:</label>
        {{if getError .Errors "Password"}}
            <label class='error'>{{getError .Errors "Password"}}</label>
        {{end}}
        <input type='password' name='password'>
    </div>
    <div>
        <input type='submit' value='Signup'>
    </div>
    {{.CSRFField}}
</form>
{{end}}